<br><br><br><br>
<div class="container-fluid">
	<div class="row full-ht">
		<div class="container">
			<div class="row" style="min-height: 100%;">
				<div class="container" >
					<div class="row" >
						<br><br><br>
						<div class="col-12" style="left: 0; padding: 0; position: absolute;">
							<img src="/img/banana-gun.jpg" class="img-fluid" alt="A bananan">
						</div>
						<div class="col-12 text-right">
							<h1 class="display-1">Danger</h1>
							<h1 class="display-4">It is everywhere...</h1>
						</div>
					</div>
					<div class="row " style=" margin-top: 20%;">
						<div class="col-6">
							<a href="#header"><h3>Welcome</h3></a>
						</div>
						<div class="col-6" style="text-align: right;">
							<!--<p>Smart security scanner that integrates IBM Watson Visual Recognition with the power Amazon Alexa to identify perpertrators.  </p>-->
							<p>We use advanced AI technologies to identify threats in areas under security survillance and notifies nearby users via alarm system and warning text</P>
							<!--<blockquote class="blockquote text-center">-->
								<!--<p class="mb-0">-->
									<!--“The man of thought who will not act is ineffective; the man of action who will not think is dangerous.” </p>-->
								<!--<footer class="blockquote-footer">Richard M. Nixon <cite title="Source Title">GoodReads.com</cite></footer>-->
							<!--</blockquote>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


