<head>
    <title>Hack Western</title>
    <link rel="shortcut icon" href="/img/favicon.ico"/>

    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="description" content="A secutity measurement system that implements IBM watson visual recognition with Alexa to create a smart secure city"/>
    <meta name="author" content="Moose">
    <meta name="keywords" content="HTML, CSS, XML, JavaScript, NodeJS, IBM Watson, Alexa, sending message">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0"/>
    <link rel="icon" href="img/alba.png" type="image/png">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"-->
        <!--crossorigin="anonymous">-->
</head>