<div class="container-fluid">
	<div class="row full-ht">
		<div class="container">
			<div class="row" style="min-height: 100%;">

				<div class="col-sm-6 offset-sm-3 align-middle" style="display: inline;">
					<h2 class="mx-auto" style="display: block; width: 100px;">Login</h2>

					<form method="POST" action="/api/login">

						<div class="form-group">
							<label for="exampleInputEmail1">Email address</label>
							<input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Password</label>
							<input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
						</div>
						<button type="submit" class="btn btn-primary">Login</button>

					</form>
				</div>

				<div class="col-sm-12">
					<h1>Keep our comunity safe.</h1>
					<h5>
						<i>
							Visual Recognition from IBM Watson, <br>
							Amazon Echo, <br>
							and a text-based API<br>
						</i>
						<a href="/register">Register</a>
					</h5>
				</div>
			</div>
		</div>
	</div>
</div>
