<!DOCTYPE html>

<!-- LANDING USED AS SIGN UP PAGE -->

<html>

	<%- include('partials/head') %>

	<body>
		<%- include('partials/about') %>

		<%- include('partials/nav') %>

		<%- include('partials/open') %>

	</body>
	
</html>